<div id="collectionGrid"></div>

{% schema %}
{
  "name": "Collection Grid",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection Grid"
    }
  ],
  "presets": [
    {
      "name": "Collection Grid",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}
