{%- liquid
  assign products = section.settings.collection.products
-%}

{% comment %}
  This section displays a grid of products from a collection.
  It includes product images, titles, prices, and sale status.
  The code is designed to be responsive and uses Tailwind CSS for styling.
  NOTE: Size variables may not match with Figma design due to most match Tailwind var used.
  Additional variables added to tailwind.input.css.
{% endcomment %}

<script src="{{ 'product-card.js' | asset_url }}" defer="defer"></script>

<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-10 max-w-[1280px] my-0 mx-auto p-6" id="collectionGrid">
  {%- for product in products -%}
    {% render 'product-card',
        product: product,
        show_secondary_image: section.settings.show_secondary_image,
        show_rating: section.settings.show_rating,
        quick_add: section.settings.quick_add,
        section_id: section.id
    %}
  {%- endfor -%}
</div>


{% schema %}
{
  "name": "Collection Grid",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection Grid"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "Show secondary image on hover"
    },
    {
      "type": "checkbox",
      "id": "quick_add",
      "default": false,
      "label": "Show quick ATC button"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "Show product rating"
    }
  ],
  "presets": [
    {
      "name": "Collection Grid"
    }
  ]
}
{% endschema %}
